* {
    margin: 0;
    padding: 0;
}

html {
    padding: 5px;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 18px;
    border-bottom: black solid 1px;
    padding: 5px 10px;
    margin: 5px 0;

}

.submitRating {
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
}

.details {
    border: black solid 2px;
    margin: 15px 0;
    border-radius: 5px;
    padding: 15px;
}

textarea {
    display: block;
    margin: 5px auto 15px auto;
}

#link {
    width: 100%;
}

.linkInput input {
   height: 25px; 
}

.options {
    display: flex;
    justify-content: center;
}

.submitRating input {
    width: 22px;
}

.icon {
    height: 10px;
}

.ratingImage {
    height: 20px;
    margin: 1px;
}

.rating, .flex {
    display: flex;
}

.bookmark {
    border: black solid 2px;
    margin: 5px 0;
    border-radius: 5px;
    -webkit-column-break-inside: avoid;
}

.bookmarkButtons, .formButtons {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
}

.itemBody {
    border-top: black solid 1px;
}

.error{
    color: red;
}

.delete {
    height: 14px;
}

.description {
    font-size: 14px;
    padding: 5px;
}

button, #js-create, select {
    padding: 3px 15px;
    margin: 5px;
}

.preventBreak {
    -webkit-column-break-inside: avoid;

}

#add-created-bookmark {
    padding: 10px;
    margin: 10px 10px 15px 10px;
}

.form {
    border: black solid 2px;
    padding: 10px;
    margin: 10px 10px 15px 10px;
    max-width: 500px;
}

#title {
    width: 171px;
    margin-bottom: 5px;
}

.filterOption {
    display: flex;
}

@media (max-width: 799px) and (min-width: 400px) {
    .bookmark {
        width: 400px;
    }

    .form {
        min-width: 400px;
    }
}

@media (max-width: 1199px) and (min-width: 800px) {
    .bookmark {
        width: 400px;
    }

    #js-main-content {
        column-count: 2;
    }

    .form {
        min-width: 400px;
    }
}

@media (max-width: 1599px) and (min-width: 1200px) {
    .bookmark {
        width: 400px;
    }

    #js-main-content {
        column-count: 3;
    }
    
    .form {
        min-width: 400px;
    }
}

@media (max-width: 2000px) and (min-width: 1600px) {
    .bookmark {
        width: 400px;
    }

    #js-main-content {
        column-count: 4;
    }

    .form {
        min-width: 400px;
    }
}


